// Starterkit mixin to set base link interaction styles for all links.
@mixin set-base-link-interaction() {

  .header-nav-item a,
  .sqs-block-content a:not(.summary-thumbnail-container):not(.sqs-block-button-element),
  .header-nav-folder-item a {
    @include _base-link-interaction();
  }

  body:not(.header--menu-open) .header-nav-item .header-nav-folder-item--active {
    a {
      @include _base-link-interaction();

      .header-nav-folder-item-content {
        background-image: none;
      }
    }
  }
}

// Base link styles: for indicating active links in Squarespace.
@mixin _base-link-interaction() {

  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 0px 0px;
  background-position: 0 100%;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    background-size: 2px 2px;
  }
}
