// Base link styles: for indicating active links in Squarespace.
// $size: underline thickness in pixels.
@mixin base-link-interaction($size: 1px) {
  &:hover,
  &:focus {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: repeat-x;
    background-size: $size $size;
    background-position: 0 100%;
    background-position: 0 calc(100% - 0.1em);
  }
}
