// Starterkit mixin to set base link interaction styles for all links.
@mixin set-base-link-interaction() {

  .header-nav-item a,
  .sqs-block-content a:not(.summary-thumbnail-container):not(.sqs-block-button-element),
  .header-nav-folder-item a {
    @include _base-link-interaction();
  }

  body:not(.header--menu-open) .header-nav-item .header-nav-folder-item--active {
    a {
      background-image: linear-gradient(currentColor, currentColor);
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 calc(100% - 0.1em);
      transition: background-size 0.2s ease;

      .header-nav-folder-item-content {
        background-image: none;
      }
    }
  }
}

// Base link styles: for indicating active links in Squarespace.
@mixin _base-link-interaction() {

  &:hover,
  &:focus {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 100%;
  }
}
