/**
 * Match the font and size of a heading.
 *
 * @param {number} $level - The heading level (1-6)
 * @return {void}
 */
@mixin match-heading($level: 1, $force: false) {
  font-family: var(--heading-font-font-family) #{if(sass($force): "!important"; else: "")};
  font-size: var(--heading-#{$level}-size) #{if(sass($force): "!important"; else: "")};
}
