/**
 * Squarespace site: Mountain Toad
 * See https://github.com/KeyboardCowboy/squarespace-customizer for more details.
 */

@use "../_scss/links" as *;
@use "../_scss/dates" as *;
@use "../_scss/typography" as *;
@use "../_scss/summary-blocks" as *;
@use "../_scss/navigation" as *;

/**
 * Variable definitions
 */
:root {
    --heading-font-font-family: "cheap-pine-sans", sans-serif;
    --heading-font-alt-font-family: "cheap-pine", sans-serif;
}

/* Make H1 headings a special variant of the header font. */
h1 {
    font-family: var(--heading-font-alt-font-family);
}

/* Set base link interaction styles for all links. */
@include set-base-link-interaction();

/* Set submenu spacing. */
@include set-submenu-spacing();

/* Hide hidden markdown text blocks. */
@include hidden-markdown();

/**
 * Summary Blocks
 */
.summary-v2-block {

    .summary-block-setting-text-size-extralarge .summary-title {
        /* Set XL title to h3 size. */
        @include match-heading(3);
    }

    .summary-title a {
        /* Set link interaction styles for the title. */
        @include set-base-link-interaction();
    }

    /* Zoom and drop shadow on hover for thumbnail. */
    @include zoom-thumbnail-on-hover();

    /* Style the date components created from the date formatter. */
    @include theme-formatted-date-card();
}

/**
 * Event List Tweaks
 */
.sqs-events-collection-list {

    h1.eventlist-title,
    h1.eventitem-title {
        /* Increase font size of itemlist header */
        @include match-heading(3, true);
    }

    .eventlist-column-info a.eventlist-button {
        /* Add margins around event list item button. */
        margin: 1em 0;
    }

    .summary-thumbnail-event-date {
        /* Round the corners on the date card */
        border-radius: 3px;
    }
}

/**
 * Accordions
 */
.accordion-block {

    h2.accordion-item__title-wrapper {
        /* Shrink h2 accordion titles down to h3 sizes. */
        @include match-heading(3, true);
    }
}
